* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #737373;
}

.item-container {
  grid-row: 1;
}
.item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
  height: 100vh;
  font-size: 12px;
}
